html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #222;
  color: white;
}

.app{
  width: 680px;
  margin: auto;
}

.input, .board, .sample{
  margin: 20px;
}

.board{
  position: relative;
  width: 300px;
  height: 300px;
}

.grid{
  position: absolute;
  width: 100px;
  height: 100px;
  background: #eee;
  border: 1px solid #222;
  box-sizing: border-box;
  transition: transform .2s ease-in-out;
  overflow: hidden;
}

.img{
  position: absolute;
  width: 300px;
  height: 300px;
  background: center center no-repeat;
  background-size: cover;
}

.sample, .board{
  position: relative;
  display: inline-block
}
